h1	{
	text-align: center;
	font-family: 'Passion One';
	font-size: 6em;
}
h3{
	text-align: center;
	background: #C51B21;
	border-radius: 5px;
	width: 70%;
	margin: 0px auto;
	color:white;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Passion One';
	font-size:3em;
}
.blackSquare{
	width: 6.25vw;
	max-width: 112px;
	min-width: 63px;
	height: 6.25vw;
	max-height: 112px;
	/*min-height: 63px;*/
	background: rgba(5,5,5,0);
	float: left;
}
.prison{
	width: 25vw;
}
li{
	width: 6.25vw;
	max-width: 112px;
	/*margin: 5px;*/
}
/*.blackSquare:after{
	content: "";
  display: block;
  padding-bottom: 100%;
}*/
.whiteSquare{
	width: 6.25vw;
	max-width: 112px;
	min-width: 63px;
	height: 6.25vw;
	max-height: 112px;
	/*min-height: 63px;*/
	background: #DEDEDE;
	float: left;
	border-radius: 5px;
	/*outline: 2px solid #DEB305;*/
}
/*.whiteSquare:after{
	content: "";
  display: block;
  padding-bottom: 100%;
}*/
#gameBoard{
	width: 100%;
	max-width:896px;
	max-height:896px;
	min-width: 504px;
	/*min-height: 504px;*/
}
.no-padding{
	padding-left: 0px;
	padding-right: 0px;
}
img{
	width: 100%;
	/*margin-left: 2.75px;
	margin-top: 2.75px;*/
}
#test-btn{
	background: #C51B21;
	text-align: center;
	color: white;
	font-family: 'Passion One';
	font-size: 3em;
	width: 15vw;
	margin: 10px auto;
	border-radius: 5px;
}
#test-btn:hover{
	background: #911418;
}
.whiteText{
	color: white;
}
.highlight-yellow{
	background: #FFEF88;
}
.highlight-red{
	background: #ff7d66;
}
li{
	float: left;
	list-style-type: none;
}
#page-wrap{
	width: 100vw;
}
